  <div class="jumbotron">
    <div class="sticky-note"><%= fa_icon "sticky-note" %></div>
    <% if @posts %>
    <% @posts.each do |post| %>
    <div class="col-xs-12">
      <div class="text-left" id="posts" >
     
        <h4>
          <%= link_to post.title, post_path(post) %>
        </h4>
        <%= truncate(post.content, :length => 100 , :escape => false) %> || <%=link_to 'Read more' , post_path(post)%>
          <%= link_to "x", post_path(post), method: :delete, data: {confirm: 'Are you sure?' }  if current_user %>
        <p>
         
        </p>              
     </div>
      <br>
    </div>
    <% end %>

           <div id="paginator">
           <%= paginate @posts %>
          </div> 

          <div class='container' id="tag_cloud">
            <h6>Tags</h6>
            <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class %>
            <% end %>
          </div>
          <div class="container">
            <% if  @results  %>
                <% if  @results.empty?  %>
                  <h5>No results found with those keywords</h5>
                <% else %>        
                  <div>
                    <h2>results: </h2>
                    <% @results.each do |result| %>
                    <%=link_to "#{result.title}" , post_path(result)%>
                  </div>
               <% end %>
              <% end %>
            <% end %>
          </div>
  <% else %>
  </div>

</div>
<% end %>

