  <div class="jumbotron">
    <div class="sticky-note"><%= fa_icon "sticky-note" %></div>
    <% if @posts %>
    <% @posts.each do |post| %>
    <div class="col-xs-12">
      <div class="text-center" id="posts" >
     
        <h4><%= post.title %></h4>
        <%= truncate(post.content, :length => 75 , :escape => false) %> || <%=link_to 'Read more' , post_path(post)%>
        <p>
              <%= link_to "x", post_path(post), method: :delete, data: {confirm: 'Are you sure?' }  if current_user %>
        </p>              
     </div>
      <br>
    </div>
    <% end %>
           <div id="paginator">
             <%= paginate @posts, remote: true %>
            </div> 

            <div class='container' id="tag_cloud">
              <h6>Tags</h6>
              <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
                <%= link_to tag.name, tag_path(tag.name), class: css_class %>
              <% end %>
            </div>
  <% else %>

  </div>
</div>

<% end %>

                 


