<div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content jumbotron">
		<div class="card">
			

	      <h2><%= @post.title %></h2>
	      <h3><%= social_share_button_tag(@post.title,  :url => request.url , desc:  @post.title) %></h3>
	      <h4><%= @post.user.full_name %></h4>
	      <h5><%= raw @post.created_at %></h5>
	      <p><%= raw @post.content %></p>
	      <% @post.tags.each do |tag| %>
	    </div>
	</div>
</div>



